*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  height: 100vh;
  background-color: #f4f5f9; }

::selection {
  background-color: #3F51B5;
  color: #ffffff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.section-1__title {
  font-size: 8rem;
  color: #C5CAE9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 4px 6px 16px rgba(48, 63, 159, 0.8); }

.section-1__name {
  line-height: 1; }
  .section-1__name--sagta {
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: orangered; }
  .section-1__name--engineering {
    font-size: 7rem;
    font-weight: 600;
    color: #757575; }
  .section-1__name--slogan {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    color: #757575; }

.section-1__message-text {
  font-size: 3.5rem;
  color: #C5CAE9;
  font-weight: 300; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-top-big {
  margin-top: 8rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-horizontal-big {
  margin-left: 6rem;
  margin-right: 6rem; }

.margin-horizontal-small {
  margin-left: 2rem;
  margin-right: 2rem; }

.margin-vertical-big {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.margin-vertical-small {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.heading-box {
  margin-top: 2rem;
  width: 80%;
  padding: 1.5rem 4rem;
  background-color: rgba(63, 81, 181, 0.4);
  border: 10px groove #303F9F;
  border-radius: 4rem;
  box-shadow: 4px 6px 16px rgba(63, 81, 181, 0.4); }
  .heading-box__text {
    font-size: 6rem;
    color: #BDBDBD;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4); }
  .heading-box span {
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 50%;
    border: 4px solid #BDBDBD;
    background-color: #757575;
    box-shadow: 0px 0px 10px rgba(244, 245, 249, 0.8); }

.logo-box {
  width: 10rem;
  position: absolute;
  top: 5rem;
  right: 5rem; }
  .logo-box__img {
    width: 100%; }

.principals {
  margin-left: -10rem;
  width: 110%;
  background-color: rgba(244, 245, 249, 0.7);
  text-align: center;
  border-radius: 4px; }
  .principals__heading {
    font-size: 8rem;
    color: #757575;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.9); }
  .principals div {
    display: flex;
    justify-content: space-around; }
  .principals__text {
    padding: 1rem 2rem;
    color: #C5CAE9;
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: 3px 4px rgba(255, 255, 255, 0.9); }

.text-box {
  margin: 2rem;
  padding: 2rem 4rem;
  width: 90rem;
  border-radius: 5px;
  background-color: rgba(63, 81, 181, 0.8);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); }
  .text-box__text {
    line-height: 3rem;
    font-size: 2.3rem;
    font-weight: 400;
    color: #BDBDBD;
    letter-spacing: 2px; }
  .text-box--moved {
    transform: translateX(15rem); }

.section {
  width: 95%;
  min-height: 95vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px); }

.section-1__title {
  display: inline-block;
  position: absolute;
  top: 2%;
  left: 10%; }

.section-1__name {
  padding: 2rem 3rem;
  display: block;
  background-color: rgba(63, 81, 181, 0.2);
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 2.5%;
  right: 2%; }
  .section-1__name--sagta {
    display: inline-block;
    padding-right: 2rem; }
  .section-1__name--engineering {
    display: inline-block; }
  .section-1__name--slogan {
    display: block; }

.section-1__message {
  background-color: rgba(48, 63, 159, 0.6);
  width: 80rem;
  padding: 2rem 4rem;
  border: 8px solid #303F9F;
  border-radius: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 60%;
  right: 7%; }

.section-2-header {
  display: inline-block;
  margin-left: 20rem;
  margin-top: 5rem;
  padding: 0 5rem;
  background-color: rgba(48, 63, 159, 0.1);
  text-shadow: 2px 2px 6px rgba(48, 63, 159, 0.4); }
  .section-2-header__text {
    font-size: 10rem;
    color: #BDBDBD;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 8px; }

.section-2-cont {
  position: absolute;
  top: 5rem;
  left: 50%; }
  .section-2-cont__item {
    margin: 8rem 2rem;
    font-size: 3rem;
    letter-spacing: 2.5px;
    list-style: none;
    color: #BDBDBD; }
    .section-2-cont__item--text {
      text-shadow: rgba(63, 81, 181, 0.4); }
    .section-2-cont__item span {
      margin-right: 2.5rem;
      padding: 1.5rem;
      border-radius: 50%;
      border: 4px solid #BDBDBD;
      background-color: #757575;
      box-shadow: 0px 0px 20px rgba(244, 245, 249, 0.8); }
  .section-2-cont__item-text--1 {
    transform: translateX(0); }
  .section-2-cont__item-text--2 {
    transform: translateX(8rem); }
  .section-2-cont__item-text--3 {
    transform: translateX(12rem); }
  .section-2-cont__item-text--4 {
    transform: translateX(8rem); }
  .section-2-cont__item-text--5 {
    transform: translateX(0); }

.pimg {
  min-height: 100%;
  background-image: url("../images/background-0.png");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.page-3__text-box {
  margin-top: 2rem;
  margin-left: 20rem; }
