.page__heading-1 {
    max-width: 50%;
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 10%;

    // Typography
    font-size: 6rem;
    color: $color-primary-light;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 4px 6px 16px rgba($color-primary-dark, .8);
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-primary;
}
