.text-box-1 {
    margin: 2rem;
    padding: 2rem 4rem;

    width: 90rem;

    border-radius: 5px;
    background-color: rgba($color-primary, .8);
    box-shadow: 4px 4px 8px rgba($color-black, .4);

    &__text {
        line-height: 3rem;
        font-size: 2.3rem;
        font-weight: 400;
        color: $color-grey-2;
        letter-spacing: 2px;


    }

    &--moved {
        transform: translateX(15rem);
    }




}