.pimg {
    margin: 0 1rem;
    min-height: 100%;
    background-image: url('../images/background-0.png');
    position: relative;

    background-position: center; 
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}